
.mainBody{
    height: 75vh;
    padding: 0px;
    width: 100%;
    position: relative;
}

.backgroundImage{
    width: 22.5vw;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5%;
}