@mixin flex {
    display: flex;
    flex-direction: row;
    // justify-content:space-between;
    align-items:center;
}

@mixin position($y-axis) {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, $y-axis);
}

@mixin size-padding($font-size) {
    margin: 22px;;
    font-size: $font-size;
}