@use "sass:map";

*{
    font-family: visby;
}

$colour-scheme: (
    "orange": #F5761A,
    "light-silver": rgb(231, 231, 231),
    "light-gray": rgb(185, 182, 182)
);

@function colour($chosenColour){
    @return map.get($colour-scheme, $chosenColour);
};

.mainBody{
    background-image: 
        linear-gradient(
            172.5deg,
            colour("orange") 50%,
            colour("light-silver") 50%
        )
    ;
}

.wholeSearchSection{
    .searchTitle h1{
        color: colour("orange");
        // font-weight: $bold-font;
    }
    .userInput h1{
        background-color: colour("orange");
    }
}

.footer{
    height: 400px;
}